<p><i> (справа зверху від опису місії завжди є список доступних перекладів для цієї місії)</i></p>

<p>Це вступна місія, метою якої є показати, як вирішувати завдання на CheckiO та як отримати максимум від цього. Коли ця місія буде вирішена ще одна станція буде доступна, з більш складними місіями.</p>

<p>Це найпростіша місія. Напишіть функцію, яка отримуватиме 2 числа та повертатиме результат твору цих чисел.</p>


<p>
    <strong>Вхідні дані: </strong> Два аргумента. Оба int
</p>

<p>
    <strong>Вихідні дані: </strong> Int.
</p>


<div class="for_info_only">
    <p>
        <strong>Приклад:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p><b>Як це працьє?:</b></p>

<p>Початковий код твого рішення буде містити "порожню" функцію (яку потрібно наповнити) та набір тестів (asserts) під цією функцією. Зверніть увагу, що твоя функція повинна повертати результат, а не виводити його.

{% if interpreter.slug == "js-node" %}
Це означає, що потрібно використовувати <a target="_blank" target="_blank" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Statements/return">команду return</a> вместо <a target="_blank" target="_blank" href="https://developer.mozilla.org/ru/docs/Web/API/Console/log">функції console.log</a>.
{% else %}
Це означає, що потрібно використовувати команду return замість фунції print. <a target="_blank" target="_blank" href="https://stackoverflow.com/questions/7129285/what-is-the-purpose-of-the-return-statement">Невеличке поясненя різниці.</a>
{% endif %}
</p>

<p>Asserts які йдуть після оголошення функції можна використовувати для того, щоб перевірити себе використовуйте кноку Run Code. CheckiO також буде має кілька додаткових тестів для того, щоб перевірити рішення, коли ти натиснеш кнопку Check Solution.</p>

<p>Якщо рішення не пройшло тестування, то на правій панелі буде виведено повідомлення про помилку.</p>

<p>Щоб розв'язати задачу “порожня” функція, повинна бути замінена на наступний код.</p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">
function multTwo(a, b) {
    return a*b;
}
</pre>
{% else %}
<pre class="brush: python">
def mult_two(a: int, b: int) -> int:
    return a*b
</pre>
{% endif %}

<p>Спробуй тепер натиснути Check Solution.</p>


<p>Якщо рішення пройде всі тести на правій панелі, має з'явитися привітання та пропозиція наступних дій. (Так, це ще не кінець історії)</p>

<p>Я рекомендую, перш ніж публікувати своє рішення – спочатку переглянути рішення інших гравців.</p>

<p>І останнє, деякі завдання наприкінці мають список підказок для вирішення. Але т.к. в цьому завданні ми вже розповіли як вирішувати, то в хінтах ми додамо кілька цікавих фактів про CheckiO</p>
