<p>これは、 CheckiO でどのようにミッションを解き、それをどのように生かすのかを説明する目的で存在する、導入のミッションです。{% if not is_js %}If you want to know how to get the maximum out of using CheckiO, check out our blog post <a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">"From Basic to Advance usage"</a>.{% endif %}</p>

<p>そのため、このミッションは最も簡単な内容になっています。入力として二つの数値を受け取り、それらの二数を掛け算した結果を返す関数を書きましょう。</p>


<p>
    <strong>入力: </strong> 二つの引数が与えられます。両者は共に整数です。
</p>

<p>
    <strong>出力: </strong> 整数を返してください。
</p>


    <p>
        <strong>例:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>A series of hints below will help you to understand how to solve the mission. Start the series by clicking on "I don’t know how to solve that mission."</p>