<p><i>(ミッション説明文の右上には、利用可能な翻訳の一覧が表示されるようになっています)</i></p>

<p>これは、 CheckiO でどのようにミッションを解き、それをどのように生かすのかを説明する目的で存在する、導入のミッションです。このミッションを解き終えると、あなたはより複雑なミッションがあるもう一つのステーションへアクセスできるようになります。</p>

<p>そのため、このミッションは最も簡単な内容になっています。入力として二つの数値を受け取り、それらの二数を掛け算した結果を返す関数を書きましょう。</p>


<p>
    <strong>入力: </strong> 二つの引数が与えられます。両者は共に整数です。
</p>

<p>
    <strong>出力: </strong> 整数を返してください。
</p>


    <p>
        <strong>例:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p><b>どのように動作するのか:</b></p>

<p>あなたが問題を解き始めた時、最初のコードはいつも「空っぽ」の関数 (この関数の中身を、提出する回答として埋めていきます) と、その下にある検証用のコードとで構成されています。気を付けるべきことは、関数は値を返すべきなのであって、それを画面に出力すべきではないということです。

{% if interpreter.slug == "js-node" %}
つまり、<a target="_blank" href="https://developer.mozilla.org/ja/docs/Web/API/Console/log">console.log 関数</a>を使うのではなく、<a target="_blank" href="https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Statements/return">return 文</a>を使う必要があります。
{% else %}
つまり、<a target="_blank" href="https://docs.python.org/ja/3/library/functions.html#print">print 関数</a>を使うのではなく、<a target="_blank" href="https://docs.python.org/ja/3/reference/simple_stmts.html#the-return-statement">return 文</a>を使う必要があります。<a target="_blank" href="https://stackoverflow.com/questions/7129285/what-is-the-purpose-of-the-return-statement">この Stack Overflow の解説 (英語)</a>を参照してください。
{% endif %}
</p>

<p>あなたの関数の後にある検証用のコードは、「Run Code」ボタン を押すことで、まずセルフチェックを行うために利用できます。さらに、 CheckiO はいくつかの追加のテストをシステム内部に持っていて、「Check Solution」ボタン を押すことで、あなたの関数がそれらのテストに合格できるかを確認します。</p>

<p>このミッションを解くには、「空っぽ」の関数を以下のようなコードで置き換える必要があります。</p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">
function multTwo(a, b) {
    return a*b;
}
</pre>
{% else %}
<pre class="brush: python">
def mult_two(a: int, b: int) -> int:
    return a*b
</pre>
{% endif %}

<p>改めて「Check Solution」ボタンをクリックしてみてください。</p>


<p>もし回答がすべてのテストに合格すると、右側のパネルへ、祝福のメッセージが以下のようなアクションの提案と共に表示されます (そう、解いただけで話が終わってしまうわけでは無いのです) 。</p>

<p>あなた自身の回答を公開する前に、まず他のプレイヤーの回答へと目を通すことを推奨します。</p>

<p>最後に大事なことですが、いくつかのミッションは末尾に解くためのヒントを持っている場合があります。ただ、このミッションでは既に解き方を説明してしまいましたから、ここでは CheckiO に関するいくつかの興味深い事実をヒントとして掲載することにします。</p>
