<p><i>(La lista de traducciones disponibles para cada misión se encontrará siempre en la parte superior derecha de la descripción)</i></p>

<p>Esta es una misión introductoria, cuyo objetivo es explicar cómo completar misiones en CheckiO y cómo aprovechar al máximo su resolución. Una vez completada la misión, se habilitará otra estación que contiene misiones más complejas</p>

<p>Esta misión es la más sencilla: Escribir una función que recibirá dos números como Entrada y deberá retornar la multiplicación de esos dos números como Salida.</p>


<p>
    <strong>Entrada: </strong> Dos argumentos, ambos de tipo int.
</p>

<p>
    <strong>Salida: </strong> Int. 
</p>


<div class="for_info_only">
    <p>
        <strong>Ejemplo:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">multTwo(2, 3) == 6
multTwo(1, 0) == 0
</pre>
{% else %}
<pre class="brush: python">mult_two(2, 3) == 6
mult_two(1, 0) == 0
</pre>
{% endif %}
</div>

<p><b>¿Cómo funciona?:</b></p>

<p>Cuando comienzas a trabajar en el problema, verás que el código inicial consiste en una función “vacía” (que deberás completar con tu código). A su vez, vienen incluídas aserciones para verificar que la función tenga el comportamiento esperado. Debes tomar en cuenta que la función retorna valores y no los imprime.

{% if interpreter.slug == "js-node" %}
Para realizar esto, usa el comando <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/return">'return'</a> en lugar de <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Console/log"> la función 'console.log'</a>.
{% else %}
Para realizar esto, usa el comando 'return' en lugar de la función 'print'. <a target="_blank" target="_blank" href="https://stackoverflow.com/questions/7129285/what-is-the-purpose-of-the-return-statement">Revisa esta breve explicación.</a>
{% endif %}
</p>

<p>Las aserciones en el código pueden ser usadas para chequear tu solución al presionar el botón “Run”(<img style="height: 31px;vertical-align: bottom;" src="{{MEDIA}}btn_run.png" />). CheckiO también ejecuta varios test adicionales para chequear tu solución cuando haces clic en el botón “Check”(<img style="height: 31px;vertical-align: bottom;" src="{{MEDIA}}btn_check.png" />).</p>

<p>Si la solución que escribiste no pasa los tests internos, el panel derecho mostrará un mensaje de error compuesto por 3 ítems:</p>

<ul>
<li><b>Your Result:</b> - Muestra lo que retornó.</li>
<li><b>Right Result:</b> - Muestra lo que debió haber retornado.</li>
<li><b>Fail:</b> - Muestra cómo fue invocada tu función.</li>
</ul>

<p>Para resolver la actividad, el contenido de la función vacía debe ser reemplazado con el siguiente código:</p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">
function multTwo(a, b) {
    return a*b;
}
</pre>
{% else %}
<pre class="brush: python">
def mult_two(a: int, b: int) -> int:
    return a*b
</pre>
{% endif %}

<p>Ahora intenta hacer clic en el botón “Check”. </p>

<p>Si la solución pasa todos los tests, deberán aparecer las felicitaciones en el panel derecho, junto a las siguientes sugerencias (sí, este no es el final de la historia):</p>

<ul>
<li><b>View other solutions</b> - Una vez que la actividad ha sido completada, podrás acceder a la solución realizada por otros jugadores, las cuales están divididas por categorías.</li>
<li><b>Publish your solution</b> - Publica tu solución personal.</li>
<li><b>Next Mission</b> - Avanza a la siguiente misión.</li>
</ul>

<p>Es recomendable revisar las soluciones de otros jugadores antes de publicar tu solución personal.</p>

<p>Por último, pero no menos importante, algunas actividades tienen al final una lista de pistas de resolución, pero como en esta ya hemos descrito cómo resolverla, en su lugar, agregaremos datos interesantes acerca de CheckiO.</p>


    © 2021 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
    Docs

    Contact GitHub
    Pricing
    API
    Training
    Blog
    About
