<p><i>(La lista de traducciones disponibles para cada misión se encontrará siempre en la parte superior derecha de la descripción)</i></p>

<p>Esta es una misión introductoria, cuyo objetivo es explicar cómo completar misiones en CheckiO y cómo aprovechar al máximo su resolución. Una vez completada la misión, se habilitará otra estación que contiene misiones más complejas</p>

<p>Esta misión es la más sencilla: Escribir una función que recibirá dos números como Entrada y deberá retornar la multiplicación de esos dos números como Salida.</p>


<p>
    <strong>Entrada: </strong> Dos argumentos, ambos de tipo int.
</p>

<p>
    <strong>Salida: </strong> Int. 
</p>


    <p>
        <strong>Ejemplo:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p><b>¿Cómo funciona?:</b></p>

<p>Cuando comienzas a trabajar en el problema, verás que el código inicial consiste en una función “vacía” (que deberás completar con tu código). A su vez, vienen incluídas aserciones para verificar que la función tenga el comportamiento esperado. Debes tomar en cuenta que la función retorna valores y no los imprime.

{% if interpreter.slug == "js-node" %}
Para realizar esto, usa el comando <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/return">'return'</a> en lugar de <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Console/log"> la función 'console.log'</a>.
{% else %}
Para realizar esto, usa el comando 'return' en lugar de la función 'print'. <a target="_blank" target="_blank" href="https://stackoverflow.com/questions/7129285/what-is-the-purpose-of-the-return-statement">Revisa esta breve explicación.</a>
{% endif %}
</p>

<p>Las aserciones en el código pueden ser usadas para chequear tu solución al presionar el botón “Run Code”. CheckiO también ejecuta varios test adicionales para chequear tu solución cuando haces clic en el botón “Check Solution”.</p>

<p>Por último, pero no menos importante, algunas actividades tienen al final una lista de pistas de resolución, pero como en esta ya hemos descrito cómo resolverla, en su lugar, agregaremos datos interesantes acerca de CheckiO.</p>
