<p>这是一个介绍性任务，其目的是解释如何在CheckiO上解决任务。{% if not is_js %}如果你想知道如何最大限度地利用CheckiO，请查看我们的博文<a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">"From Basic to Advance usage"</a> 。{% endif %}</p>

<p>这个任务是最简单的一个。编写一个函数，接收2个数字作为输入，它应该返回这2个数字的乘法。</p>


<p>
   <strong>输入：</strong>两个参数。两个参数都是int类型<span>(int)</span> 。
</p>

<p>
   <strong>输出：</strong>Int<span>(Int)</span> 。 
</p>


    <p>
        <strong>例子：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>下面的一系列提示将帮助你了解如何解决这个任务。点击 "我不知道如何解决这个任务"，开始这一系列的提示。</p>
