<p>Це вступна місія, метою якої є показати, як вирішувати завдання на CheckiO. {% if not is_js %}Якщо ви хочете знати, як отримати максимальну віддачу від використання CheckiO, перегляньте допис у нашому блозі <a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">"From Basic to Advance usage"</a>.{% endif %}</p>

<p>Це найпростіша місія. Напишіть функцію, яка отримуватиме 2 числа та повертатиме результат твору цих чисел.</p>


<p>
    <strong>Вхідні дані: </strong> Два аргумента. Оба int
</p>

<p>
    <strong>Вихідні дані: </strong> Int.
</p>


    <p>
        <strong>Приклад:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>A series of hints below will help you to understand how to solve the mission. Start the series by clicking on "I don’t know how to solve that mission."</p>