<p><i>Це вступна місія, метою якої є показати, як вирішувати завдання на CheckiO. {% if not is_js %}Якщо ти хочеш знати, як отримати максимальну віддачу від використання CheckiO, переглянь допис у нашому блозі <a target="_blank" href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">"From Basic to Advance usage"</a>.{% endif %}</i></p>

<p>Це найпростіша місія. Напиши функцію, яка отримуватиме 2 числа та повертатиме добуток цих чисел.</p>


<p>
    <strong>Вхідні дані:</strong> Два аргументи. Обидва - цілі числа (int).
</p>

<p>
    <strong>Вихідні дані:</strong> Ціле число (int).
</p>


    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p><i>Серія підказок внизу допоможе тобі зрозуміти, як розв'язувати місію. Розпочни серію натисканням на "Я не розумію, як розв'язати цю місію".</i></p>