<p><i>(Une liste des différentes traductions possible est disponible en haut à droite de chaque description de mission)</i></p>

<p>This is an into mission, the purpose of which is to explain how to solve missions on CheckiO and how to get the most out of solving them. When the mission is solved, one more station become available for you, containing more complex missions.</p>
<p>C'est une mission d'échauffement, Le but est d'expliquer comment résoudre les missions sur CheckiO. Quand une mission est résolue, d'autres stations contenant d'autres missions plus difficile seront disponible pour vous.</p>

<p>Cette mission est la plus facile. Ecris une fonction qui recoit deux nombres en entrée et renvoir le résultat de la multiplication de ces deux nombres.</p>


<p>
    <strong>En entrée: </strong> Deux arguments. Les deux sont des "integers".
</p>

<p>
    <strong>En sortie: </strong> Un "integer". 
</p>


<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">multTwo(2, 3) == 6
multTwo(1, 0) == 0
</pre>
{% else %}
<pre class="brush: python">mult_two(2, 3) == 6
mult_two(1, 0) == 0
</pre>
{% endif %}
</div>

<p><b>Commment tout celà fonctionne ?</b></p>

<p>Au départ, le code est une fonction vide (que vous allez avoir à remplir). Ta fonction doit retourner des valeurs et surtout pas les afficher à l'écran. 

{% if interpreter.slug == "js-node" %}
That is, use <a target="_blank" target="_blank" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Statements/return">the return command</a> instead of <a target="_blank" target="_blank" href="https://developer.mozilla.org/ru/docs/Web/API/Console/log">the console.log function</a>.
{% else %}
That is, use the return command instead of the print function. <a target="_blank" target="_blank" href="https://stackoverflow.com/questions/7129285/what-is-the-purpose-of-the-return-statement">Check this short explanation.</a>
{% endif %}
</p>

<p>Tu peux vérifier ta réponse en cliquant sur le boutton "run" (<img style="height: 31px;vertical-align: bottom;" src="{{MEDIA}}btn_run.png" />). CheckiO also uses several additional tests in order to check your solution when you click the “Check” button (<img style="height: 31px;vertical-align: bottom;" src="{{MEDIA}}btn_check.png" />).</p>

<p>Si ta solution ne passe pas les tests interne, le panel de droite affichera un message d'erreur en trois parties.</p>

<ul>
<li><b>Fail:</b> - Comment ta fonction a été appellée.</li>
<li><b>Your Result:</b> - Ce qui à été retourné.</li>
<li><b>Right Result:</b> - Ce qui est attendu.</li>
</ul>

<p>Pour résoudre ce challenge, la fonction vide doit être remplacée par le code suivant :</p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">
function multTwo(a, b) {
    return a*b;
}
</pre>
{% else %}
<pre class="brush: python">
def mult_two(a: int, b: int) -> int:
    return a*b
</pre>
{% endif %}

<p>Clique sur le boutton "check".</p>


<p>Si ta solution passe tous les tests, des messages de félicitations apparaitront sur le panneau de droite suivi d'une suggestion pour la suite (Oui, ce n'est jamais la fin de l'histoire).</p>

<ul>
<li><b>Voir les autres solutions</b></li>
<li><b>Publies ta solution</b></li>
<li><b>Prochaine mission</b></li>
</ul>

<p>Je te recommande de regarder les solutions des autres avant de publier la tienne.</p>

<p>Certaines tâches possède une liste d'indices pour t'aider à résoudre.</p>