<p>Il s'agit d'un échauffement dont le but est d'expliquer comment résoudre des missions sur CheckiO et d'en tirer le maximum. {% if not is_js %}If you want to know how to get the maximum out of using CheckiO, check out our blog post <a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">From Basic to Advance usage."</a>.{% endif %}</p>

<p>Cette mission est donc la plus facile. Écrivez une fonction qui reçoit 2 entiers en arguments et qui doit retourner le produit de ces deux nombres.</p>


<p>
    <strong>Entrée : </strong> Deux arguments. Les deux sont des entiers (int).
</p>

<p>
    <strong>Sortie : </strong> Un entier (int). 
</p>


    <p>
        <strong>Exemple :</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p><b>Comment ça marche ?</b></p>

<p>Quand vous commencez à travailler sur une mission, le code initial présente une fonction vide (que vous compléterez avec votre code). Des assertions sont incluses dans le code pour vérifier que la fonction se comporte comme prévu. Assurez-vous que la fonction renvoie les valeurs demandées, elle ne les affiche pas.

{% if interpreter.slug == "js-node" %}
Pour cela, utilisez <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/return">la commande "return"</a> au lieu de <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Console/log">la fonction "console.log()"</a>.
{% else %}
Pour cela, utilisez la commande "return" au lieu de la fonction "print()". <a target="_blank" target="_blank" href="https://stackoverflow.com/questions/7129285/what-is-the-purpose-of-the-return-statement">Jetez un œil à cette courte explication.</a>
{% endif %}
</p>

<p>Les assertions dans le code peuvent être utilisées pour tester votre solution en cliquant sur le bouton "Run Code". CheckiO utilise aussi plusieurs tests additionnels pour vérifier votre solution quand vous cliquez sur le bouton "Check Solution".</p>

<p>Pour finir, certains challenges proposent une liste d'indices pour leur résolution. Puisque nous avons déjà expliqué comment résoudre ce challenge, nous ajouterons dans les indices des anecdotes intéressantes à propos de CheckiO !</p>
