<p>Il s'agit d'une mission d'introduction, dont le but est d'expliquer comment résoudre les missions sur CheckiO. {% if not is_js %}Si vous voulez savoir comment tirer le meilleur parti de CheckiO, consultez notre article de blog <a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">"De l'utilisation de base à l'utilisation avancée"</a>.{% endif %}</p>

<p>Cette mission est la plus simple. Ecrivez une fonction qui recevra 2 nombres en entrée et qui devra retourner la multiplication de ces 2 nombres.</p>


<p>
   <strong>Entrée :</strong> Deux arguments. Les deux sont de type int.
</p>

<p>
   <strong>Sortie :</strong> Int. 
</p>


    <p>
        <strong>Exemples :</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>Une série de conseils ci-dessous vous aidera à comprendre comment résoudre la mission. Commencez la série en cliquant sur "Je ne sais pas comment résoudre cette mission"</p>
