<p>This is an intro mission, the purpose of which is to explain how to solve missions on CheckiO. {% if not is_js %}If you want to know how to get the maximum out of using CheckiO, check out our blog post <a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">From Basic to Advance usage"</a>.{% endif %}</p>

<p>This mission is the easiest one. Write a function that will receive 2 numbers as input and it should return the multiplication of these 2 numbers.</p>


<p>
    <strong>Input: </strong> Two arguments. Both are of type int.
</p>

<p>
    <strong>Output: </strong> Int. 
</p>


    <p>
        <strong>Example:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p><b>How does it work?</b></p>

<p>When you start working on the problem, the initial code consists of an “empty” function (which you will need to populate with your code). Asserts are included in the code to check whether the function performs as expected. Pay attention that your function returns values, and does not print them.

{% if interpreter.slug == "js-node" %}
In order to do this, use <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/return">the return command</a> instead of <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Console/log">the console.log function</a>.
{% else %}
In order to do this, use the return command instead of the print function. <a target="_blank" target="_blank" href="https://stackoverflow.com/questions/7129285/what-is-the-purpose-of-the-return-statement">Check this short explanation.</a>
{% endif %}
</p>

<p>The asserts in the code can be used in order to check your solution by pressing the “Run Code” button. CheckiO also uses several additional tests in order to check your solution when you click the “Check Solution” button.</p>

<p>Last but not least, some tasks have a list of hints for helping you solve them at the end. But since in this task we’ve already described to you how to solve it, in hints we’ll instead add some interesting facts about CheckiO.</p>
