<p><i>(at the top right of the mission description there always is a list of available translations)</i></p>

<p>This is an intro mission, the purpose of which is to explain how to solve missions on CheckiO and how to get the most out of solving them. When the mission is solved, one more station becomes available for you, containing more complex missions.</p>

<p>So this mission is the easiest one. Write a function that will receive 2 numbers as input and it should return the multiplication of these 2 numbers.</p>


<p>
    <strong>Input: </strong> Two arguments. Both are of type int
</p>

<p>
    <strong>Output: </strong> Int. 
</p>


<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p><b>How does it work?:</b></p>

<p>When you start working on the problem, the initial code consists of an “empty” function (which you will need to populate with your code). Asserts are included in the code to check whether the function performs as expected. Pay attention that your function returns values, and does not print them.

{% if interpreter.slug == "js-node" %}
In order to do this, use <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/return">the return command</a> instead of <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Console/log">the console.log function</a>.
{% else %}
In order to do this, use the return command instead of the print function. <a target="_blank" target="_blank" href="https://stackoverflow.com/questions/7129285/what-is-the-purpose-of-the-return-statement">Check this short explanation.</a>
{% endif %}
</p>

<p>The asserts in the code can be used in order to check your solution by pressing the “Run” button (<img style="height: 31px;vertical-align: bottom;" src="{{MEDIA}}btn_run.png" />). CheckiO also uses several additional tests in order to check your solution when you click the “Check” button (<img style="height: 31px;vertical-align: bottom;" src="{{MEDIA}}btn_check.png" />).</p>

<p>If the solution didn’t pass the internal tests, the right panel will display an error message containing 3 items.</p>

<ul>
<li><b>Fail:</b> - shows how your function was called.</li>
<li><b>Your Result:</b> - shows what it returned.</li>
<li><b>Right Result:</b> - what it should’ve returned.</li>
</ul>

<p>To solve the task the “empty” function must be replaced with the following code.</p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">
function multTwo(a, b) {
    return a*b;
}
</pre>
{% else %}
<pre class="brush: python">
def mult_two(a: int, b: int) -> int:
    return a*b
</pre>
{% endif %}

<p>Try to click “Check” button now. </p>


<p>If the solution passes all the tests, the congratulations should appear on the right panel along with a suggestion for the following action. (Yes, this is not the end of the story).</p>

<ul>
<li><b>View other solutions</b> - when the task is solved, you can access the solutions of other players, which are divided into categories.</li>
<li><b>Publish your solution</b> - publish your own solution.</li>
<li><b>Next Mission</b> - go to the next mission.</li>
</ul>

<p>I’d recommend to go through the solutions of other players before publishing your own.</p>

<p>Last but not the least, some tasks at the end have a list of hints for solving. But since in this task we’ve already described how to solve, then in hints we’ll add some interesting facts about CheckiO</p>
