<p>This is an intro mission, the purpose of which is to explain how to solve missions on CheckiO. {% if not is_js %}If you want to know how to get the maximum out of using CheckiO, check out our blog post <a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">"From Basic to Advance usage"</a>.{% endif %}</p>

<p>This mission is the easiest one. Write a function that will receive 2 numbers as input and it should return the multiplication of these 2 numbers.</p>


<p>
    <strong>Input:</strong> Two arguments. Both are of type <span translate="repeat">int</span>.
</p>

<p>
    <strong>Output:</strong> <span translate="repeat">Int</span>. 
</p>


    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>A series of hints below will help you to understand how to solve the mission. Start the series by clicking on "I don’t know how to solve that mission."</p>
