<p>Esta es una misión introductoria, cuyo objetivo es explicar cómo completar misiones en CheckiO y cómo aprovechar al máximo su resolución. {% if not is_js %}If you want to know how to get the maximum out of using CheckiO, check out our blog post <a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">"From Basic to Advance usage"</a>.{% endif %}</p>

<p>Esta misión es la más sencilla: Escribir una función que recibirá dos números como Entrada y deberá retornar la multiplicación de esos dos números como Salida.</p>


<p>
    <strong>Entrada: </strong> Dos argumentos, ambos de tipo int.
</p>

<p>
    <strong>Salida: </strong> Int. 
</p>


    <p>
        <strong>Ejemplo:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>A series of hints below will help you to understand how to solve the mission. Start the series by clicking on "I don’t know how to solve that mission."</p>