<p>Это вводная миссия, целью которой является показать как решать задачи на CheckiO или как получить максимум от этого. {% if not is_js %}Если хотите узнать, как получить максимум от CheckiO, смотрите наш пост <a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">"From Basic to Advance usage"</a>.{% endif %}</p>

<p>Итак, это самая простая миссия. Напишите функцию, которая будет получать 2 числа и возвращать результат произведения этих чисел.</p>


<p>
    <strong>Входные данные: </strong> Два аргумента. Оба int
</p>

<p>
    <strong>Выходные данные: </strong> Int.
</p>


    <p>
        <strong>Пример:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>Серия подсказок ниже поможет вам понять, как решить эту задачу. Откройте подсказки, кликнув на "I don’t know how to solve that mission."</p>
