<p><i> (справа вверху от описания миссии всегда есть список доступных переводов для этой миссии)</i></p>

<p>Это вводная миссия, целью которой является показать как решать задачи на CheckiO или как получить максимум от этого. Когда эта миссия будет решена еще одна станция будет доступна, с чуть более сложными миссиями.</p>

<p>Итак, это самая простая миссия. Напишите функцию, которая будет получать 2 числа и возвращать результат произведения этих чисел.</p>


<p>
    <strong>Входные данные: </strong> Два аргумента. Оба int
</p>

<p>
    <strong>Выходные данные: </strong> Int.
</p>


<div class="for_info_only">
    <p>
        <strong>Пример:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">multTwo(2, 3) == 6
multTwo(1, 0) == 0
</pre>
{% else %}
<pre class="brush: python">mult_two(2, 3) == 6
mult_two(1, 0) == 0
</pre>
{% endif %}
</div>

<p><b>Как это работает?:</b></p>

<p>Начальный код твоего решения будет содержать “пустую” функцию (которую нужно наполнить) и набор тестов (asserts) под этой функцией. Обрати внимание, что твоя функция должна возвращать результат, а не выводить его.

{% if interpreter.slug == "js-node" %}
Это значит использовать <a target="_blank" target="_blank" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Statements/return">команду return</a> вместо <a target="_blank" target="_blank" href="https://developer.mozilla.org/ru/docs/Web/API/Console/log">функции console.log</a>.
{% else %}
Это значит использовать команду return вместо функции print. <a target="_blank" target="_blank" href="https://stackoverflow.com/questions/7129285/what-is-the-purpose-of-the-return-statement">Это небольшое объяснение разницы.</a>
{% endif %}
</p>

<p>Asserts которые идут после объявления функции можно использоваться для того, чтобы проверить себя нажатием кнопки Run Code. CheckiO также будет использовать несколько дополнительных тестов для того чтобы проверить решение когда ты нажмешь кнопку Check Solution.</p>

<p>Если решение не прошло тестирование, то на правой панели будет выведено сообщение об ошибке, которое будет состоять из 3х пунктов.</p>

<ul>
<li><b>Fail:</b> - показывает, как функция была вызвана.</li>
<li><b>Your Result:</b> - показывает, что она при этом вернула.</li>
<li><b>Right Result:</b> - показывает, что должно было вернуть.</li>
</ul>

<p>Чтобы решить задачу “пустая” функция должна быть заменена на следующий код.</p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">
function multTwo(a, b) {
    return a*b;
}
</pre>
{% else %}
<pre class="brush: python">
def mult_two(a: int, b: int) -> int:
    return a*b
</pre>
{% endif %}

<p>Попробуй теперь нажать Check.</p>


<p>Если решение пройдет все тесты на правой панели должно появится поздравления и предложение следующих действий. (Да, это еще не конец истории)</p>

<ul>
<li><b>View other solutions</b> - после того, как задача решена, вы можете получить доступ к решениям других игроков, которые разбиты по рубрикам.</li>
<li><b>Publish your solution</b> - опубликовать собственное решение.</li>
<li><b>Next Mission</b> - перейти к решению следующей миссии.</li>
</ul>

<p>Я рекомендую, прежде чем публиковать свое решение - вначале посмотреть решения других игроков.</p>

<p>И последнее, некоторые задачи в конце имеют список подсказок для решения. Но т.к. в этой задаче мы уже рассказали как решать, то в хинтах мы добавим несколько интересных фактов про CheckiO</p>
