<p>Dies ist eine Einführungsmission, die Ihnen erklären soll, wie Sie Missionen auf CheckiO lösen können. {% if not is_js %}Wenn Sie wissen möchten, wie Sie das Maximum aus CheckiO herausholen können, lesen Sie unseren Blogbeitrag <a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">"From Basic to Advance usage"</a>.{% endif %}</p>

<p>Diese Aufgabe ist die einfachste. Schreiben Sie eine Funktion, die 2 Zahlen als Eingabe erhält und die Multiplikation dieser 2 Zahlen zurückgeben soll.</p>


<p>
   <strong>Eingabe:</strong> Zwei Argumente. Beide sind vom Typ int.
</p>

<p>
   <strong>Ausgabe:</strong> Int. 
</p>


    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>Nachfolgend finden Sie eine Reihe von Hinweisen, wie Sie die Mission lösen können. Starten Sie die Serie, indem Sie auf "Ich weiß nicht, wie man diese Mission löst" klicken</p>
