<p>To jest misja wprowadzająca, której celem jest wyjaśnienie jak rozwiązywać misje CheckiO. {% if not is_js %}If you want to know how to get the maximum out of using CheckiO, check out our blog post <a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">From Basic to Advance usage."</a>.{% endif %}</p>

<p>Ta misja jest najłatwiejsza. Napisz funkcję, która na wejściu przyjmuje 2 liczby i zwraca ich iloczyn.</p>


<p>
    <strong>Wejście: </strong> Dwa argumenty. Oba typu int.
</p>

<p>
    <strong>Wyjście: </strong> Int. 
</p>


    <p>
        <strong>Przykład:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p><b>Jak to działa?:</b></p>

<p>Gdy zaczynasz rozwiązywać misję, kod początkowo zawiera “pustą” funkcję (którą musisz uzupełnić swoim rozwiązaniem), a poniżej znajdują się asserty. Powinieneś zwrócić uwagę na to, że twoja funkcja powinna zwracać wartości, a nie je wyświetlać.

{% if interpreter.slug == "js-node" %}
W tym celu używaj <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/return">komendy return</a> zamiast <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Console/log">funkcji console.log</a>.
{% else %}
W tym celu używaj komendy return zamiast funkcji print. <a target="_blank" target="_blank" href="https://stackoverflow.com/questions/7129285/what-is-the-purpose-of-the-return-statement">Dowiedz się więcej w tym krótkim wyjaśnieniu.</a>
{% endif %}
</p>

<p>Możesz użyć assertów znajdujących się poniżej twojej funkcji w celu sprawdzenia swojego rozwiązania wciskając przycisk “Run Code”. CheckiO używa też kilku dodatkowych testów aby sprawdzić twoje rozwiązanie po naciśnięciu przycisku “Check Solution”.</p>

<p>Ostatnia rzecz: niektóre zadania mają na końcu listę podpowiedzi/wskazówek. Jako że napisaliśmy już jak rozwiązać to zadanie, w sekcji wskazówek znajdziesz kilka ciekawostek o CheckiO.</p>
