<p>Jest to misja wprowadzająca, której celem jest wyjaśnienie, jak rozwiązywać misje w CheckiO. {% if not is_js %}Jeśli chcą Państwo dowiedzieć się, jak w pełni wykorzystać możliwości CheckiO, prosimy zapoznać się z naszym wpisem na blogu <a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">"From Basic to Advance usage"</a>.{% endif %}</p>

<p>Ta misja jest najłatwiejsza. Proszę napisać funkcję, która otrzyma 2 liczby jako dane wejściowe i powinna zwrócić iloczyn tych dwóch liczb.</p>


<p>
   <strong>Dane wejściowe:</strong> Dwa argumenty. Oba są typu int.
</p>

<p>
   <strong>Wyjście:</strong> Int. 
</p>


    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>Poniższa seria podpowiedzi pomoże Państwu zrozumieć, jak rozwiązać daną misję. Proszę rozpocząć serię klikając na "Nie wiem jak rozwiązać tę misję"</p>
