<p>Det här är ett introduktionsuppdrag med syfte att förklara hur du utför uppdrag här på CheckiO och hur du får ut så mycket som möjligt av att lösa dem. {% if not is_js %}If you want to know how to get the maximum out of using CheckiO, check out our blog post <a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">"From Basic to Advance usage"</a>.{% endif %}</p>

<p>Det här är därmed det lättaste uppdraget. Skriv en funktion som tar två heltal som indata och multiplicerar dem.</p>


<p>
    <strong>Indata: </strong> Två argument. Båda är heltal.
</p>

<p>
    <strong>Utdata: </strong> Ett heltal.
</p>


    <p>
        <strong>Exempel:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p><b>Hur fungerar det?</b></p>

<p>När du påbörjar en uppgift består koden alltid av en "tom" funktion (där du sedan ska skriva din kod) och ett antal testfall som kontrollerar att din lösning är korrekt. När du skriver din funktion är det viktigt att du returnerar resultatet och inte bara skriver ut det.

{% if interpreter.slug == "js-node" %}
Med andra ord behöver du använda <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/return">return-kommandot</a> istället för <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Console/log">funktionen console.log</a>.
{% else %}
Med andra ord behöver du använda return-kommandot istället för funktionen print. <a target="_blank" target="_blank" href="https://stackoverflow.com/questions/7129285/what-is-the-purpose-of-the-return-statement">Förklaring</a>
{% endif %}
</p>

<p>Testfallen efter din funktion kan användas för att kontrollera din lösning innan du skickar in den. För att göra detta, klicka på "Run Code"-knappen. När du sedan klickar på "Check Solution"-knappen kommer CheckiO att köra ytterligare testfall för att kontrollera att din lösning är korrekt.</p>

<p>Sist men inte minst så har vissa uppdrag en lista med ledtrådar som du kan läsa vid behov, men eftersom vi redan har berättat hur du löser den här uppgiften så är "ledtrådarna" i detta fallet några intressanta fakta om CheckiO.</p>
