<p>Det här är ett introduktionsuppdrag med syfte att förklara hur du utför uppdrag här på CheckiO och hur du får ut så mycket som möjligt av att lösa dem. {% if not is_js %}If you want to know how to get the maximum out of using CheckiO, check out our blog post <a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">"From Basic to Advance usage"</a>.{% endif %}</p>

<p>Det här är därmed det lättaste uppdraget. Skriv en funktion som tar två heltal som indata och multiplicerar dem.</p>


<p>
    <strong>Indata: </strong> Två argument. Båda är heltal.
</p>

<p>
    <strong>Utdata: </strong> Ett heltal.
</p>


    <p>
        <strong>Exempel:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>A series of hints below will help you to understand how to solve the mission. Start the series by clicking on "I don’t know how to solve that mission."</p>